/* general */
body {
  background-color: #b5b5b5;
  min-width: 1000px;
  font-family: "Poppins", sans-serif;
}
.App {
  text-align: center;
  box-sizing: border-box;
  
}
main {
  margin-top: 80px;  
}
.page{
  margin: 100px;
}
/* Mem component */

.upButton {  
  background-color: #b5b5b5;
  color: green;
  border: green solid 2px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  width: 160px;
  padding: 8px;
  margin: 10px 10px 10px 0px;
  font-family: "Poppins", sans-serif;
}

.upButton:hover {
  background-color: green;
  color: rgb(246, 241, 241);
}

.downButton {
  background-color: #b5b5b5;
  color: red;
  border: red solid 2px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  width: 160px;
  padding: 8px;
  margin: 10px 0 10px 10px;
  font-family: "Poppins", sans-serif;
}

.downButton:hover {
  background-color: red;
  color: rgb(246, 241, 241);
}

.faveButton{
  border: #ffae42 solid 2px;
  border-radius: 8px;
  background-color: #b5b5b5;
  /* width: 45px;
  height: 45px; */
}

/* Home Page image */
.homeImage {
  height: 70vh;
  align-content: center;
  margin-top: 6vh;
}

/* Error Page elements */
.errorPage {
  max-height: 100vh;
}

.errorImage {
  display: block;
  height: 70vh;
  margin: auto;
}

.errorPageButton {
  margin-top: 10px;
  padding: 6px;
  border: #325a6e solid 2px;
  border-radius: 8px;
  list-style: none;
  justify-content: center;
}

.errorPageButton a {
  color: #325a6e;
  text-decoration: none;
  padding: 8px;
}

.errorPageButton:hover {
  background-color: #ffae42;
  color: #325a6e;
}

